{% extends "layout.html" %}
{% block body %}
<h1>Create your shopping list</h1>

<form id="create-shopping-list-form", method="POST">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe</th>
        <th scope="col">Nr. of meals</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      {% for recipe in form.recipes %}
      <tr>
        <th scope="row">{{ loop.index0 }}</th>
        <td>{{ recipe.recipe_name.data }}</td>
        <td>
          {{ recipe.nr_meals }}
        </td>
        <td>
          {{ recipe.select }}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {{ form.create }}
</form>
{% endblock %}