{% extends "layout.html" %}
{% block body %}
<h1>{{ recipe_name }}</h1>
<h2>Ingredients</h2>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Preparation</h2>
<p>Get the bla, put the bla, then cook the bla. You'll get blaa bla blaa.</p>
{% endblock %}